# Ignore Python bytecode files
WorldOfGames/__pycache__/
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
#*.log

# Ignore build files
api/
build/
dist/
*.egg-info